global:
  scrape_interval: 1m
  scrape_timeout: 1m
  evaluation_interval: 1m

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - alertmanager.moc-monitoring.svc:9093

rule_files:
  - /etc/prometheus/rules/rules.yaml

scrape_configs:
  - job_name: "idrac_exporter"
    scrape_interval: 3m
    scrape_timeout: 2m
    file_sd_configs:
    - files:
      - /etc/prometheus/file_sd/idrac_targets.yaml
      - /etc/prometheus/file_sd/lenovo_targets.yaml
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: idrac-exporter.moc-monitoring.svc:9348

  - job_name: "idrac_web"
    file_sd_configs:
    - files:
      - /etc/prometheus/file_sd/idrac_targets.yaml
      - /etc/prometheus/file_sd/cmc_targets.yaml
      - /etc/prometheus/file_sd/lenovo_targets.yaml
    metrics_path: /probe
    params:
      module:
      - http_302
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: blackbox-exporter.moc-monitoring.svc:9115

  - job_name: "idrac_ping"
    file_sd_configs:
    - files:
      - /etc/prometheus/file_sd/idrac_targets.yaml
      - /etc/prometheus/file_sd/cmc_targets.yaml
      - /etc/prometheus/file_sd/lenovo_targets.yaml
    metrics_path: /probe
    params:
      module:
      - ping
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: blackbox-exporter.moc-monitoring.svc:9115

  - job_name: "esi_icmp_probe"
    static_configs:
      - targets:
        - esi.massopen.cloud  # horizon
        - esi-undercloud.massopen.cloud
        - 129.10.5.141  # controller 1
        - 129.10.5.142  # controller 2
        - 129.10.5.143  # controller 3
    metrics_path: /probe
    params:
      module:
      - ping
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: blackbox-exporter.moc-monitoring.svc:9115

  - job_name: "esi_http_probe"
    static_configs:
      - targets:
        - https://esi.massopen.cloud:13696  # neutron
        - https://esi.massopen.cloud:13000  # keystone
        - https://esi.massopen.cloud:13050  # ironic inspector
        - https://esi.massopen.cloud:13385  # ironic
    metrics_path: /probe
    params:
      module:
      - http_2xx
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: blackbox-exporter.moc-monitoring.svc:9115

  - job_name: "esi_http_horizon_probe"
    static_configs:
      - targets:
        - esi.massopen.cloud  # horizon
    metrics_path: /probe
    params:
      module:
      - http_302
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: blackbox-exporter.moc-monitoring.svc:9115

  - job_name: "ipmi"
    params:
      module: ['default']
    metrics_path: /ipmi
    file_sd_configs:
    - files:
      - /etc/prometheus/file_sd/idrac_targets.yaml
      - /etc/prometheus/file_sd/lenovo_targets.yaml
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: ipmi-exporter.moc-monitoring.svc:9290

  - job_name: "idrac_snmp"
    file_sd_configs:
    - files:
      - /etc/prometheus/file_sd/idrac_targets.yaml
    metrics_path: /snmp
    params:
      module:
        - system
        - layer2
        - layer3
        - idrac
      auth: [public_v2]
    relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: snmp-exporter.moc-monitoring.svc:9116
    metric_relabel_configs:
    - source_labels: [__name__]
      target_label: __name__
      regex: '(.*)'
      action: replace
      replacement: 'snmp_${1}'
