apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/argoproj.io/argocds/openshift-gitops
- ../../base/config.openshift.io/oauths/cluster
- ../../base/config.openshift.io/apiservers/cluster
- ../../base/core/configmaps/admin-acks
- ../../base/cdi.kubevirt.io/storageprofiles/longhorn
- ../../base/operator.openshift.io/ingresscontrollers/default
- ../../base/rbac.authorization.k8s.io/clusterrolebindings/cluster-admins-sudoer
- ../../base/rbac.authorization.k8s.io/clusterrolebindings/cluster-admins-reader/
- ../../base/rbac.authorization.k8s.io/clusterrolebindings/cluster-reader
- ../../base/rbac.authorization.k8s.io/clusterrolebindings/self-provisioners
- ../../base/user.openshift.io/groups/cluster-admins
- ../../base/user.openshift.io/groups/cluster-readers
- ../../bundles/external-secrets
- ../../bundles/longhorn
- ../../bundles/metallb-system
- ../../bundles/nmstate
- ../../bundles/openshift-gitops-operator
- ../../bundles/openshift-cert-manager-operator/
- ../../bundles/openshift-cnv
- ../../cert-manager.io/clusterissuers/letsencrypt-production-dns01
- clusterversion.yaml
- clustersecretstore/clustersecretstore.yaml
- certificates/
- externalsecrets/
- hyperconverged/kubevirt-hyperconverged.yaml
- machineconfigs/
- networkattachmentdefinitions
- nodenetworkconfigurationpolicies
- longhorn-settings

configMapGenerator:
- name: admin-acks
  namespace: openshift-config
  behavior: merge
  literals:
    - ack-4.18-kube-1.32-api-removals-in-4.19=true
    - ack-4.15-kube-1.29-api-removals-in-4.16=true

patches:
  - path: argocds/openshift-gitops_patch.yaml
  - path: oauths/cluster_patch.yaml
  - path: groups/cluster-admins.yaml
  - path: groups/cluster-readers.yaml
  - path: storageprofiles/longhorn-patch.yaml
  - target:
      kind: APIServer
      name: cluster
    patch: |
      - op: replace
        path: /spec/servingCerts/namedCertificates/0/names/0
        value: api.moc-infra.massopen.cloud
